footer
    .container
        .row
            .col-xs-3
                a(href='#') Github
            .col-xs-3
                a(href='#') About
            .col-xs-3
                a(href='#') Legal
            .col-xs-3
                a(href='#') Support