.header
    include _navbar
    .container
        .row
            .col-md-6.col-md-offset-3
                .stats
                    .row
                        .col-xs-2
                            h4= drawings.length
                        .col-xs-4
                            p Total Lotteries
                        .col-xs-2
                            h4 3
                        .col-xs-4
                            p Total Verifiers