html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    script(src="https://use.fontawesome.com/223defc90c.js")
    script(src='/components/jquery/dist/jquery.min.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
  body(class=customClass)
    include partials/_header
    .container-main
      block verifier
    .container.container-main.content-container
      block content
    include partials/_footer

    script(src='/javascripts/components/vendors.js')
    script(src='/javascripts/components/bundle.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='/javascripts/app.js')