body
{
    margin:0;
    padding:0;
}


.container-main:first-of-type
{
    margin-top:51px;
}

.onetouch-verifier
{
    background: #0067A9;
    background-image:url('/images/onetouchbg.jpg');
    background-repeat:no-repeat;
    color: #fff;
}

.onetouchlogo
{
    margin: 30px 0;
}

.btnVerify
{
    width: 100%;
}

.verify-form
{
    margin-bottom:30px;
}

.icon-verifier
{
    margin-top:10px;
}

.icon-success
{
    color: lawngreen;
}

.icon-failure
{
    color: red;
}