//
   Created by Stefan on 9/16/2016.

extends ../layout

block verifier
    .betterbets-verifier
        .container
            img(src="/images/bitdice.png").center-block.img-responsive.onetouchlogo
            form.form-horizontal.verify-form#verifier
                .form-group
                    .verifier-alert.col-sm-offset-3.col-sm-7.col-xs-10#verifier_message
                    .col-sm-offset-3.col-sm-7.col-xs-10#verifier_rolls
                    .col-sm-offset-3.col-sm-7.col-xs-10#verifier_result
                    input#site_alias(value='bitdiceme')
                .form-group
                    label.has-feedback.control-label.col-sm-3.col-xs-12.text-left(for='server_seed_hash') Secret Hash
                    .col-sm-7.col-xs-10
                        input#server_seed_hash.form-control(type='text', name='ssh')
                    #result_SHA.icon-verifier.col-sm-2.col-xs-2.icon-verifier
                .form-group
                    label.has-feedback.control-label.col-sm-3.col-xs-12.text-left(for='server_seed') Revealed Secret
                    .col-sm-7.col-xs-10
                        input#server_seed.form-control(type='text', name='ss')
                    #result_InitData.icon-verifier.col-sm-2.col-xs-2
                .form-group
                    label.has-feedback.control-label.col-sm-3.col-xs-12.text-left(for='client_seed') Client Seed
                    .col-sm-7.col-xs-10
                        input#client_seed.form-control(type='text', name='cs')
                    #result_DealerSeed.icon-verifier.col-sm-2.col-xs-2
                .form-group
                    .col-sm-7.col-xs-10.col-sm-offset-3
                        button.btn.btn-success.btnVerify
                            | Verify

block content
    h2
        | Betterbets.io Verifier
        small  (text from Bitdice.me)
    p Philae had to wait 10 years and complete 300 million miles, after its launch, to make a mark. At BitDice, our valued users did not have to wait that long (or travel that far). Our launch in 2014 made many firsts in the challenging casino industry.

    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha512.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha512.js')
    script(src='/javascripts/query-string.js')
    script(src='/javascripts/default_verifiers.js')