//
   Created by Stefan on 9/16/2016.

extends ../layout

block verifier
    .betterbets-verifier
        .container
            img(src="/images/bitdice.png").center-block.img-responsive.onetouchlogo
            form.form-horizontal.verify-form#verifier
                .form-group
                    .verifier-alert.col-sm-offset-3.col-sm-7.col-xs-10#verifier_message
                    .col-sm-offset-3.col-sm-7.col-xs-10#verifier_rolls
                    .col-sm-offset-3.col-sm-7.col-xs-10#verifier_result
                    input#site_alias(value='bitdiceme')
                .form-group
                    label.has-feedback.control-label.col-sm-3.col-xs-12.text-left(for='server_seed_hash') Secret Hash
                    .col-sm-7.col-xs-10
                        input#server_seed_hash.form-control(type='text', name='ssh')
                    #result_SHA.icon-verifier.col-sm-2.col-xs-2.icon-verifier
                .form-group
                    label.has-feedback.control-label.col-sm-3.col-xs-12.text-left(for='server_seed') Revealed Secret
                    .col-sm-7.col-xs-10
                        input#server_seed.form-control(type='text', name='ss')
                    #result_InitData.icon-verifier.col-sm-2.col-xs-2
                .form-group
                    label.has-feedback.control-label.col-sm-3.col-xs-12.text-left(for='client_seed') Server Secret
                    .col-sm-7.col-xs-10
                        input#client_seed.form-control(type='text', name='cs')
                    #result_DealerSeed.icon-verifier.col-sm-2.col-xs-2
                .form-group
                    .col-sm-7.col-xs-10.col-sm-offset-3
                        button.btn.btn-success.btnVerify
                            | Verify

block content
    h2
        | Betterbets.io Verifier
        small  (text from Betterbets.io)
    p All our games will be provably fair through the hashcode engine provided by Moneypot.com. For our users this means the result of bet taken can be verified to have been predetermined without us having the possibility to manipulate the bet result. Gamble at BetterBets.io in the confidence that you will be treated fairly.

    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha512.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha512.js')
    script(src='/javascripts/query-string.js')
    script(src='/javascripts/default_verifiers.js')