//
   Created by Stefan on 9/16/2016.

extends ../layout

block verifier
    .betterbets-verifier
        .container
            img(src="/images/bitdice.png").center-block.img-responsive.onetouchlogo
            form.form-horizontal.verify-form#verifier
                .form-group
                    .verifier-alert.col-sm-6.col-xs-12.col-sm-offset-3#verifier_message
                    .col-sm-6.col-xs-12.col-sm-offset-3#verifier_rolls
                    .col-sm-6.col-xs-12.col-sm-offset-3#verifier_result
                    input#site_alias(value='bitdiceme')
                .form-group
                    .col-sm-6.col-xs-12.col-sm-offset-3
                        input#server_seed_hash.form-control(type='text', name='ssh', placeholder='Secret Hash')
                    #result_SHA.icon-verifier.col-sm-2.col-xs-2.icon-verifier
                .form-group
                    .col-sm-6.col-xs-12.col-sm-offset-3
                        input#server_seed.form-control(type='text', name='ss', placeholder='Revealed Secret')
                    #result_InitData.icon-verifier.col-sm-2.col-xs-2
                .form-group
                    .col-sm-6.col-xs-12.col-sm-offset-3
                        input#client_seed.form-control(type='text', name='cs', placeholder='Client Seed')
                    #result_DealerSeed.icon-verifier.col-sm-2.col-xs-2
                .form-group
                    .col-sm-6.col-xs-12.col-sm-offset-3
                        button.btn.btn-success.btnVerify
                            | Verify

block content
    h3 More about BitDice
    p.site-content Philae had to wait 10 years and complete 300 million miles, after its launch, to make a mark. At BitDice, our valued users did not have to wait that long (or travel that far). Our launch in 2014 made many firsts in the challenging casino industry.

    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha512.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha512.js')
    script(src='/javascripts/query-string.js')
    script(src='/javascripts/default_verifiers.js')