//
   Created by Stefan on 9/16/2016.

extends ../layout

block content
    h1 Dice explanation goes here
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in felis nec metus condimentum dignissim in sit amet sapien. Donec id viverra ipsum. Mauris sed iaculis lectus. Curabitur pretium elit vitae ultricies suscipit. Nulla facilisi. Fusce pretium accumsan justo, pretium posuere nibh blandit eu. Vivamus feugiat eros at elit ultricies venenatis. Nulla quis erat orci. Cras orci augue, pharetra at diam ac, dignissim volutpat quam. Ut bibendum placerat molestie. Aliquam egestas sodales nisi, at auctor nisi aliquam et. Quisque at maximus ex. Nam ut euismod augue, sagittis suscipit risus. Curabitur ut enim eget mi pharetra volutpat. Pellentesque nec volutpat metus. In tincidunt sed metus vel pretium.
    p Vivamus lorem nisl, venenatis eget odio et, varius dictum neque. Maecenas fermentum, turpis sit amet iaculis feugiat, sapien nibh blandit ligula, a maximus odio risus at urna. Pellentesque et cursus sapien, ac facilisis mi. Cras blandit tellus eget est iaculis, eget auctor nisl fringilla. Fusce dapibus ligula justo, id interdum velit egestas non. Quisque ut lacus iaculis, iaculis lacus aliquam, ornare arcu. Proin eget rutrum ipsum. Cras id elit commodo, bibendum augue vitae, consectetur ex. Mauris blandit iaculis tortor eget finibus. Maecenas vel viverra mi. Nullam eget lorem a ex interdum malesuada in in neque. Pellentesque feugiat ante leo, sit amet semper ipsum viverra et. Curabitur tempor hendrerit lectus sed elementum. Quisque sed malesuada ex. Cras pellentesque erat eu orci molestie, et mattis diam fermentum. Fusce laoreet sapien sit amet auctor efficitur.