extends ../layout

block content
  h1= title
  p
    | Welcome to ProvFair, an&nbsp;
    a(href="https://github.com/StefanDorresteijn/provably") open source
    | &nbsp;lottery verifier and system.

  .row
      .col-md-9
          h3 Main Content
          p ProvFair.com is the only open source provably fair verifier and lottery system. By using our lottery system, you can show your users that your lotteries are completely provably fair.
          p Our verifiers are provided by the sites we're verifying, using their systems and explanations. All of these verifiers are completely open source and can be found on our Github repository.
      .col-md-3
          h3 Latest finished lotteries
          #app