extends ../layout

block content
  .row
    .col-xs-10.col-xs-offset-1
        h2.site-title An open source Lottery & Provably fair verifying tool.
        p.site-content ProvFair.com is the only open source provably fair verifier and lottery system. By using our lottery system, you can show your users that your lotteries are completely provably fair.
        p.site-content Our verifiers are provided by the sites we're verifying, using their systems and explanations. All of these verifiers are completely open source and can be found on our Github repository.